$primaryColor:#00bfe7;
$primaryColorDarker:#00a6d2;
$primaryDarkerAlt:#1d79a3;
$primaryDarkest:#046b99;
$primaryTextColor:#ffffff;

/* Buttons */
$buttonFocusOutlineColor:#aeb0b5;

$primaryButtonBgColor:#00bfe7;
$primaryButtonHoverBgColor:#00a6d2;
$primaryButtonActiveBgColor:#046b99;
$primaryButtonFocusBgColor:#aeb0b5;
$primaryButtonTextColor:#ffffff;

$primaryAltButtonBgColor:#F9C642;
$primaryAltButtonHoverBgColor:#FDB81E;
$primaryAltButtonActiveBgColor:#EAA200;
$primaryAltButtonFocusBgColor:#aeb0b5;
$primaryAltButtonTextColor:#ffffff;

$secondaryButtonBgColor: #5b616b;
$secondaryButtonHoverBgColor:#323a44;
$secondaryButtonActiveBgColor:#212121;
$secondaryButtonFocusBgColor:#5b616b;
$secondaryButtonTextColor:#ffffff;

$outlineButtonBgColor:transparent;
$outlineButtonHoverBgColor:transparent;
$outlineButtonActiveBgColor:transparent;
$outlineButtonFocusBgColor:transparent;
$outlineButtonBorderColor:#00bfe7;
$outlineButtonTextColor:#00bfe7;
$outlineButtonHoverBorderColor:#046b99;
$outlineButtonHoverTextColor:#046b99;;
$outlineButtonActiveBorderColor:#112e51;
$outlineButtonActiveTextColor:#112e51;

$menuitemHoverBgColor:#046b99;
$menuitemTextColor:#212121;
$menuitemHoverTextColor:#ffffff;
$carouselButtonHoverColor:#b2b2b2;
$carouselPageLinksActiveColor:#046b99;

@import '../sass/theme/_theme';
